@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3 {
    @apply font-serif;
  }

  /* Vogue-style Typography Enhancements */
  .tracking-widest-vogue {
    letter-spacing: 0.2em;
  }
}

:root {
  background-color: #FFFFFF;
  color: #050505;
  overflow-x: hidden;
}

::selection {
  background: #F9A8D4;
  /* Secret Pink */
  color: #000;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

/* Mobile horizontal scroll support */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}