@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFFFF;
  color: #050505;
  overflow-x: hidden;
}

::selection {
  background: #F9A8D4; /* Secret Pink */
  color: #000;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: #000;
}